--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.2.*
torchvision==0.17.*
torchaudio==2.2.*

gdown>=5.1.0
pillow
pandas
matplotlib
seaborn
numpy<2
geopandas
shapely
tqdm
scikit-learn
optuna
wandb
ipywidgets
tensorboard
